ion-chip {
  height: 20px;
  --padding-start: 8px;
  --padding-end: 8px;
}

.chip-label {
  font-weight: 600;
  font-size: 11px;
}

.ChipType.STOCK {
  width: 42px;
  color: #141414;
}

.ChipType.ETF {
  width: 32px;
  color: #4148FB;
}