ion-card {
    --border-radius: 16px;
  }
  
  ion-card-content.padded {
    padding: 12px;
  }
  
  .footer {
    padding: 8px 16px 16px;
    color: var(--ion-color-medium);
    font-size: 12px;
  }
  