:host {
  --col-gap: 25px;
  --col-stock: 20px;
  --col-price: 80px;
  --col-change: 55px;
}

.holdings {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    .label {
      font-size: 12px;
      font-weight: 600;

    }

    .value {
      font-size: 28px;
      font-weight: 600;
    }
  }

  .section-title {
    font-size: 18px;
    font-weight: 700;
    margin: 24px 0 12px;
  }

  .table-header {
    display: grid;
    grid-template-columns: 1fr var(--col-price) var(--col-change);
    column-gap: var(--col-gap);
    align-items: center;
    font-size: 12px;
    opacity: .6;
    margin-bottom: 6px;
  }
}